// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$advertising-name: 'advertising';
$advertising-x: 512px;
$advertising-y: 0px;
$advertising-offset-x: -512px;
$advertising-offset-y: 0px;
$advertising-width: 512px;
$advertising-height: 512px;
$advertising-total-width: 3072px;
$advertising-total-height: 3072px;
$advertising-image: './sprite_png/finance.png';
$advertising: (512px, 0px, -512px, 0px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'advertising', );
$airplane-name: 'airplane';
$airplane-x: 2048px;
$airplane-y: 1024px;
$airplane-offset-x: -2048px;
$airplane-offset-y: -1024px;
$airplane-width: 512px;
$airplane-height: 512px;
$airplane-total-width: 3072px;
$airplane-total-height: 3072px;
$airplane-image: './sprite_png/finance.png';
$airplane: (2048px, 1024px, -2048px, -1024px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'airplane', );
$backpack-name: 'backpack';
$backpack-x: 0px;
$backpack-y: 512px;
$backpack-offset-x: 0px;
$backpack-offset-y: -512px;
$backpack-width: 512px;
$backpack-height: 512px;
$backpack-total-width: 3072px;
$backpack-total-height: 3072px;
$backpack-image: './sprite_png/finance.png';
$backpack: (0px, 512px, 0px, -512px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'backpack', );
$baggage-name: 'baggage';
$baggage-x: 512px;
$baggage-y: 512px;
$baggage-offset-x: -512px;
$baggage-offset-y: -512px;
$baggage-width: 512px;
$baggage-height: 512px;
$baggage-total-width: 3072px;
$baggage-total-height: 3072px;
$baggage-image: './sprite_png/finance.png';
$baggage: (512px, 512px, -512px, -512px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'baggage', );
$binoculars-name: 'binoculars';
$binoculars-x: 1024px;
$binoculars-y: 0px;
$binoculars-offset-x: -1024px;
$binoculars-offset-y: 0px;
$binoculars-width: 512px;
$binoculars-height: 512px;
$binoculars-total-width: 3072px;
$binoculars-total-height: 3072px;
$binoculars-image: './sprite_png/finance.png';
$binoculars: (1024px, 0px, -1024px, 0px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'binoculars', );
$calendar-name: 'calendar';
$calendar-x: 1024px;
$calendar-y: 512px;
$calendar-offset-x: -1024px;
$calendar-offset-y: -512px;
$calendar-width: 512px;
$calendar-height: 512px;
$calendar-total-width: 3072px;
$calendar-total-height: 3072px;
$calendar-image: './sprite_png/finance.png';
$calendar: (1024px, 512px, -1024px, -512px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'calendar', );
$catalog-name: 'catalog';
$catalog-x: 0px;
$catalog-y: 1024px;
$catalog-offset-x: 0px;
$catalog-offset-y: -1024px;
$catalog-width: 512px;
$catalog-height: 512px;
$catalog-total-width: 3072px;
$catalog-total-height: 3072px;
$catalog-image: './sprite_png/finance.png';
$catalog: (0px, 1024px, 0px, -1024px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'catalog', );
$column-name: 'column';
$column-x: 512px;
$column-y: 1024px;
$column-offset-x: -512px;
$column-offset-y: -1024px;
$column-width: 512px;
$column-height: 512px;
$column-total-width: 3072px;
$column-total-height: 3072px;
$column-image: './sprite_png/finance.png';
$column: (512px, 1024px, -512px, -1024px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'column', );
$compass-name: 'compass';
$compass-x: 1024px;
$compass-y: 1024px;
$compass-offset-x: -1024px;
$compass-offset-y: -1024px;
$compass-width: 512px;
$compass-height: 512px;
$compass-total-width: 3072px;
$compass-total-height: 3072px;
$compass-image: './sprite_png/finance.png';
$compass: (1024px, 1024px, -1024px, -1024px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'compass', );
$forum-name: 'forum';
$forum-x: 1536px;
$forum-y: 0px;
$forum-offset-x: -1536px;
$forum-offset-y: 0px;
$forum-width: 512px;
$forum-height: 512px;
$forum-total-width: 3072px;
$forum-total-height: 3072px;
$forum-image: './sprite_png/finance.png';
$forum: (1536px, 0px, -1536px, 0px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'forum', );
$guide-book-name: 'guide-book';
$guide-book-x: 1536px;
$guide-book-y: 512px;
$guide-book-offset-x: -1536px;
$guide-book-offset-y: -512px;
$guide-book-width: 512px;
$guide-book-height: 512px;
$guide-book-total-width: 3072px;
$guide-book-total-height: 3072px;
$guide-book-image: './sprite_png/finance.png';
$guide-book: (1536px, 512px, -1536px, -512px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'guide-book', );
$hotel-1-name: 'hotel-1';
$hotel-1-x: 1536px;
$hotel-1-y: 1024px;
$hotel-1-offset-x: -1536px;
$hotel-1-offset-y: -1024px;
$hotel-1-width: 512px;
$hotel-1-height: 512px;
$hotel-1-total-width: 3072px;
$hotel-1-total-height: 3072px;
$hotel-1-image: './sprite_png/finance.png';
$hotel-1: (1536px, 1024px, -1536px, -1024px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'hotel-1', );
$hotel-name: 'hotel';
$hotel-x: 0px;
$hotel-y: 1536px;
$hotel-offset-x: 0px;
$hotel-offset-y: -1536px;
$hotel-width: 512px;
$hotel-height: 512px;
$hotel-total-width: 3072px;
$hotel-total-height: 3072px;
$hotel-image: './sprite_png/finance.png';
$hotel: (0px, 1536px, 0px, -1536px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'hotel', );
$hotels-name: 'hotels';
$hotels-x: 512px;
$hotels-y: 1536px;
$hotels-offset-x: -512px;
$hotels-offset-y: -1536px;
$hotels-width: 512px;
$hotels-height: 512px;
$hotels-total-width: 3072px;
$hotels-total-height: 3072px;
$hotels-image: './sprite_png/finance.png';
$hotels: (512px, 1536px, -512px, -1536px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'hotels', );
$information-name: 'information';
$information-x: 1024px;
$information-y: 1536px;
$information-offset-x: -1024px;
$information-offset-y: -1536px;
$information-width: 512px;
$information-height: 512px;
$information-total-width: 3072px;
$information-total-height: 3072px;
$information-image: './sprite_png/finance.png';
$information: (1024px, 1536px, -1024px, -1536px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'information', );
$location-name: 'location';
$location-x: 1536px;
$location-y: 1536px;
$location-offset-x: -1536px;
$location-offset-y: -1536px;
$location-width: 512px;
$location-height: 512px;
$location-total-width: 3072px;
$location-total-height: 3072px;
$location-image: './sprite_png/finance.png';
$location: (1536px, 1536px, -1536px, -1536px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'location', );
$loupe-name: 'loupe';
$loupe-x: 2048px;
$loupe-y: 0px;
$loupe-offset-x: -2048px;
$loupe-offset-y: 0px;
$loupe-width: 512px;
$loupe-height: 512px;
$loupe-total-width: 3072px;
$loupe-total-height: 3072px;
$loupe-image: './sprite_png/finance.png';
$loupe: (2048px, 0px, -2048px, 0px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'loupe', );
$luggage-name: 'luggage';
$luggage-x: 2048px;
$luggage-y: 512px;
$luggage-offset-x: -2048px;
$luggage-offset-y: -512px;
$luggage-width: 512px;
$luggage-height: 512px;
$luggage-total-width: 3072px;
$luggage-total-height: 3072px;
$luggage-image: './sprite_png/finance.png';
$luggage: (2048px, 512px, -2048px, -512px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'luggage', );
$manual-name: 'manual';
$manual-x: 0px;
$manual-y: 0px;
$manual-offset-x: 0px;
$manual-offset-y: 0px;
$manual-width: 512px;
$manual-height: 512px;
$manual-total-width: 3072px;
$manual-total-height: 3072px;
$manual-image: './sprite_png/finance.png';
$manual: (0px, 0px, 0px, 0px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'manual', );
$passport-name: 'passport';
$passport-x: 2048px;
$passport-y: 1536px;
$passport-offset-x: -2048px;
$passport-offset-y: -1536px;
$passport-width: 512px;
$passport-height: 512px;
$passport-total-width: 3072px;
$passport-total-height: 3072px;
$passport-image: './sprite_png/finance.png';
$passport: (2048px, 1536px, -2048px, -1536px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'passport', );
$photo-name: 'photo';
$photo-x: 0px;
$photo-y: 2048px;
$photo-offset-x: 0px;
$photo-offset-y: -2048px;
$photo-width: 512px;
$photo-height: 512px;
$photo-total-width: 3072px;
$photo-total-height: 3072px;
$photo-image: './sprite_png/finance.png';
$photo: (0px, 2048px, 0px, -2048px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'photo', );
$rent-a-car-name: 'rent-a-car';
$rent-a-car-x: 512px;
$rent-a-car-y: 2048px;
$rent-a-car-offset-x: -512px;
$rent-a-car-offset-y: -2048px;
$rent-a-car-width: 512px;
$rent-a-car-height: 512px;
$rent-a-car-total-width: 3072px;
$rent-a-car-total-height: 3072px;
$rent-a-car-image: './sprite_png/finance.png';
$rent-a-car: (512px, 2048px, -512px, -2048px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'rent-a-car', );
$review-name: 'review';
$review-x: 1024px;
$review-y: 2048px;
$review-offset-x: -1024px;
$review-offset-y: -2048px;
$review-width: 512px;
$review-height: 512px;
$review-total-width: 3072px;
$review-total-height: 3072px;
$review-image: './sprite_png/finance.png';
$review: (1024px, 2048px, -1024px, -2048px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'review', );
$smile-name: 'smile';
$smile-x: 1536px;
$smile-y: 2048px;
$smile-offset-x: -1536px;
$smile-offset-y: -2048px;
$smile-width: 512px;
$smile-height: 512px;
$smile-total-width: 3072px;
$smile-total-height: 3072px;
$smile-image: './sprite_png/finance.png';
$smile: (1536px, 2048px, -1536px, -2048px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'smile', );
$story-name: 'story';
$story-x: 2048px;
$story-y: 2048px;
$story-offset-x: -2048px;
$story-offset-y: -2048px;
$story-width: 512px;
$story-height: 512px;
$story-total-width: 3072px;
$story-total-height: 3072px;
$story-image: './sprite_png/finance.png';
$story: (2048px, 2048px, -2048px, -2048px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'story', );
$suitcase-name: 'suitcase';
$suitcase-x: 2560px;
$suitcase-y: 0px;
$suitcase-offset-x: -2560px;
$suitcase-offset-y: 0px;
$suitcase-width: 512px;
$suitcase-height: 512px;
$suitcase-total-width: 3072px;
$suitcase-total-height: 3072px;
$suitcase-image: './sprite_png/finance.png';
$suitcase: (2560px, 0px, -2560px, 0px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'suitcase', );
$taxi-name: 'taxi';
$taxi-x: 2560px;
$taxi-y: 512px;
$taxi-offset-x: -2560px;
$taxi-offset-y: -512px;
$taxi-width: 512px;
$taxi-height: 512px;
$taxi-total-width: 3072px;
$taxi-total-height: 3072px;
$taxi-image: './sprite_png/finance.png';
$taxi: (2560px, 512px, -2560px, -512px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'taxi', );
$thumb-up-name: 'thumb-up';
$thumb-up-x: 2560px;
$thumb-up-y: 1024px;
$thumb-up-offset-x: -2560px;
$thumb-up-offset-y: -1024px;
$thumb-up-width: 512px;
$thumb-up-height: 512px;
$thumb-up-total-width: 3072px;
$thumb-up-total-height: 3072px;
$thumb-up-image: './sprite_png/finance.png';
$thumb-up: (2560px, 1024px, -2560px, -1024px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'thumb-up', );
$tourist-name: 'tourist';
$tourist-x: 2560px;
$tourist-y: 1536px;
$tourist-offset-x: -2560px;
$tourist-offset-y: -1536px;
$tourist-width: 512px;
$tourist-height: 512px;
$tourist-total-width: 3072px;
$tourist-total-height: 3072px;
$tourist-image: './sprite_png/finance.png';
$tourist: (2560px, 1536px, -2560px, -1536px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'tourist', );
$train-name: 'train';
$train-x: 2560px;
$train-y: 2048px;
$train-offset-x: -2560px;
$train-offset-y: -2048px;
$train-width: 512px;
$train-height: 512px;
$train-total-width: 3072px;
$train-total-height: 3072px;
$train-image: './sprite_png/finance.png';
$train: (2560px, 2048px, -2560px, -2048px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'train', );
$vacation-name: 'vacation';
$vacation-x: 0px;
$vacation-y: 2560px;
$vacation-offset-x: 0px;
$vacation-offset-y: -2560px;
$vacation-width: 512px;
$vacation-height: 512px;
$vacation-total-width: 3072px;
$vacation-total-height: 3072px;
$vacation-image: './sprite_png/finance.png';
$vacation: (0px, 2560px, 0px, -2560px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'vacation', );
$video-name: 'video';
$video-x: 512px;
$video-y: 2560px;
$video-offset-x: -512px;
$video-offset-y: -2560px;
$video-width: 512px;
$video-height: 512px;
$video-total-width: 3072px;
$video-total-height: 3072px;
$video-image: './sprite_png/finance.png';
$video: (512px, 2560px, -512px, -2560px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'video', );
$village-name: 'village';
$village-x: 1024px;
$village-y: 2560px;
$village-offset-x: -1024px;
$village-offset-y: -2560px;
$village-width: 512px;
$village-height: 512px;
$village-total-width: 3072px;
$village-total-height: 3072px;
$village-image: './sprite_png/finance.png';
$village: (1024px, 2560px, -1024px, -2560px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'village', );
$visa-name: 'visa';
$visa-x: 1536px;
$visa-y: 2560px;
$visa-offset-x: -1536px;
$visa-offset-y: -2560px;
$visa-width: 512px;
$visa-height: 512px;
$visa-total-width: 3072px;
$visa-total-height: 3072px;
$visa-image: './sprite_png/finance.png';
$visa: (1536px, 2560px, -1536px, -2560px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'visa', );
$weather-name: 'weather';
$weather-x: 2048px;
$weather-y: 2560px;
$weather-offset-x: -2048px;
$weather-offset-y: -2560px;
$weather-width: 512px;
$weather-height: 512px;
$weather-total-width: 3072px;
$weather-total-height: 3072px;
$weather-image: './sprite_png/finance.png';
$weather: (2048px, 2560px, -2048px, -2560px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'weather', );
$world-name: 'world';
$world-x: 2560px;
$world-y: 2560px;
$world-offset-x: -2560px;
$world-offset-y: -2560px;
$world-width: 512px;
$world-height: 512px;
$world-total-width: 3072px;
$world-total-height: 3072px;
$world-image: './sprite_png/finance.png';
$world: (2560px, 2560px, -2560px, -2560px, 512px, 512px, 3072px, 3072px, './sprite_png/finance.png', 'world', );
$spritesheet-width: 3072px;
$spritesheet-height: 3072px;
$spritesheet-image: './sprite_png/finance.png';
$spritesheet-sprites: ($advertising, $airplane, $backpack, $baggage, $binoculars, $calendar, $catalog, $column, $compass, $forum, $guide-book, $hotel-1, $hotel, $hotels, $information, $location, $loupe, $luggage, $manual, $passport, $photo, $rent-a-car, $review, $smile, $story, $suitcase, $taxi, $thumb-up, $tourist, $train, $vacation, $video, $village, $visa, $weather, $world, );
$spritesheet: (3072px, 3072px, './sprite_png/finance.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
