@import "./styles/sample.scss";
@import "./styles/finance-png.scss";
@import "./styles/finance-svg.scss";

$homeBgLinearGradient: linear-gradient(
  135deg,
  #73264d,
  #cc667b,
  #d98c8c,
  #e6b3cc
);
$font-color: whitesmoke;
$font-family: Montserrat-Regular;
$icon-family: Material Icons;
$smallDeviceWidth: 320px;
$mediumDeviceWidth: 1024px;
$headerHandheldMargin: 1em;

@font-face {
  font-family: $font-family;
  src: url("./fonts/Montserrat-Regular.woff") format("woff");
  src: url("./fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: $icon-family;
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(./fonts/MaterialIcons-Regular.woff) format("woff2"),
    url(./fonts/MaterialIcons-Regular.woff2) format("woff");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

html,
body {
  height: 100%;
}

body {
  font-family: $font-family;
  background-image: $homeBgLinearGradient;
  background-repeat: no-repeat;
  color: $font-color;
  margin: 0px;
}

@mixin responsive($deviceType) {
  @if ($deviceType == "handheld") {
    @media only screen and (min-width: $smallDeviceWidth) and (max-width: $mediumDeviceWidth - 1) {
      @content;
    }
  } @else if($deviceType == "lappy") {
    @media only screen and (min-width: $mediumDeviceWidth) {
      @content;
    }
  } @else if($deviceType == "phones") {
    @media only screen and (min-width: $smallDeviceWidth) and (max-width: 480px) {
      @content;
    }
  } @else if($deviceType == "tablets") {
    @media only screen and (min-width: 768px) and (max-width: $mediumDeviceWidth) {
      @content;
    }
  } @else if($deviceType == "tabletsAndDesktops") {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
}

@mixin hide() {
  // can not @extend classes in @media... So, changing it to @mixin and @include it.
  display: none;
}

.hide {
  //creating a class too for other use
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fixed-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  background-image: $homeBgLinearGradient;
}

.header {
  @extend .flex-row;
  justify-content: space-between;
  padding: 1em 4em;
  & > * {
    flex: 1 0 45%;
  }
  #home-logo {
    font-size: 2em;
    font-weight: 400;
  }
  #home-menu {
    @extend .flex-row;
    justify-content: space-evenly;
    font-size: 1em;
    & > button {
      font-family: $font-family;
      min-width: 20%;
      border-radius: 50px;
      background-color: #73264d;
      height: 2.5em;
      border: 1px #73264d;
      outline: none;
      color: $font-color;
      font-size: 0.75em;
      //padding: 0em 1.25em;
    }
    & > * {
      cursor: pointer;
    }
    .portaitSearch {
      display: none;
    }
    input {
      border: none;
      background: transparent;
      //border-bottom: 1px solid whitesmoke;
      outline: 0;
      box-shadow: none;
      caret-color: $font-color;
      width: 85%;
      font-size: 1.25em;
      font-family: $font-family;
      &:focus {
        color: $font-color;
      }
      &::placeholder {
        font-size: 0.8em;
        color: $font-color;
      }
    }
  }
  #home-sidebar {
    i {
      float: right;
      font-size: 20px;
      cursor: pointer;
      color: $font-color;
    }
  }
  @include responsive("handheld") {
    padding: $headerHandheldMargin;
    justify-content: space-around;
    flex-wrap: wrap;
    .home-menu-rel {
      position: relative;
      #home-menu {
        @include hide;
        align-items: baseline;
        margin: 0.5em (-$headerHandheldMargin);
        padding: 0.5em $headerHandheldMargin;
        flex-direction: column;
        background-image: $homeBgLinearGradient;
        //border-top: 1px solid $font-color;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        & > * {
          line-height: 2em;
          width: 100%;
        }
        .portaitSearch {
          display: block;
          border: 1px solid #e6b3cc;
          border-radius: 5px;
          width: 100%;
          height: 2em;
          line-height: 2em;
          font-size: 1em;
          margin: 8px -8px;
          padding: 4px 8px;
        }
        .searchInput {
          display: none;
        }
        & > button {
          height: 2.5em;
          margin: 0.75em 0em;
          width: 100%;
        }
      }
    }
  }
  @include responsive("lappy") {
    #home-menu {
      display: flex !important;
    }
    #home-sidebar {
      @include hide;
    }
  }
  .searchIcon {
    font-size: 1.5em;
    vertical-align: middle;
  }
}
#home-body {
  margin-top: calc(100px + 3em);
  #content-tiles {
    .tileSet {
      .tile {
        border-radius: 10px;
        background-color: $font-color;
      }

      @include responsive("handheld") {
        .tile {
          max-width: 90vw;
          min-height: 40vw;
          margin: 10px auto;
        }
      }
      @include responsive("lappy") {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .tile {
          flex: 0 0 30vw;
          min-height: 15vw;
          margin: 20px 0px;
        }
      }
    }
  }
  @include responsive("handheld") {
    margin-top: calc(50px + 3em);
  }
}

.advertising {
  @include sprite($advertising);
}

.speaker {
  //svg sprites
  @include svg-sprite(
    "speaker",
    (
      color: "#f00"
    )
  );
  display: inline-block;
  width: 20px;
  height: 20px;
}
